@import "tailwindcss";

@theme {
  --color-background: #e0ff69; 
  --color-dominant: #FF9100;   /* Sunset Orange */
  --color-secondary: #FFD600;  /* Sun Lemon */
  --color-contrast: #1B5E20;   /* Forest Green */

  --font-alfa : var(--font-alfa-slab),serif;
  --font-roboto : var(--font-roboto-google),serif;
}

body {
  background: var(--color-background);
}


html, body {
  margin: 0;
  padding: 0;
}

.moving-image-container {
  will-change: top, left, width, height, border-radius;
  transition: none !important;
}

.moving-img{
  will-change: top,left,width,height;
  transform: none !important;
}